<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-questions-options-heading"
        data-cy="QuestionsOptionsCreateUpdateHeading"
        jhiTranslate="isolationmappingApp.questionsOptions.home.createOrEditLabel"
      >
        Create or edit a Questions Options
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.ansOption" for="field_ansOption"
            >Ans Option</label
          >
          <input type="text" class="form-control" name="ansOption" id="field_ansOption" data-cy="ansOption" formControlName="ansOption" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.healthCondition" for="field_healthCondition"
            >Health Condition</label
          >
          <select
            class="form-control"
            name="healthCondition"
            formControlName="healthCondition"
            id="field_healthCondition"
            data-cy="healthCondition"
          >
            <option [ngValue]="null">{{ 'isolationmappingApp.HealthCondition.null' | translate }}</option>
            <option *ngFor="let healthCondition of healthConditionValues" [value]="healthCondition">
              {{ 'isolationmappingApp.HealthCondition.' + healthCondition | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.questionsOptions.question" for="field_question"
            >Question</label
          >
          <select class="form-control" id="field_question" data-cy="question" name="question" formControlName="question">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="questionOption.id === editForm.get('question')!.value?.id ? editForm.get('question')!.value : questionOption"
              *ngFor="let questionOption of questionsSharedCollection; trackBy: trackQuestionById"
            >
              {{ questionOption.question }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
