<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-assessment-heading"
        data-cy="AssessmentCreateUpdateHeading"
        jhiTranslate="isolationmappingApp.assessment.home.createOrEditLabel"
      >
        Create or edit a Assessment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.assessment.assessmentDate" for="field_assessmentDate"
            >Assessment Date</label
          >
          <div class="d-flex">
            <input
              id="field_assessmentDate"
              data-cy="assessmentDate"
              type="datetime-local"
              class="form-control"
              name="assessmentDate"
              formControlName="assessmentDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('assessmentDate')!.invalid && (editForm.get('assessmentDate')!.dirty || editForm.get('assessmentDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('assessmentDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('assessmentDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.assessment.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.assessment.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="isolationmappingApp.assessment.isolation" for="field_isolation">Isolation</label>
          <select class="form-control" id="field_isolation" data-cy="isolation" name="isolation" formControlName="isolation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="isolationOption.id === editForm.get('isolation')!.value?.id ? editForm.get('isolation')!.value : isolationOption"
              *ngFor="let isolationOption of isolationsSharedCollection; trackBy: trackIsolationById"
            >
              {{ isolationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
