<div>
  <h2 id="page-heading" data-cy="IsolationDetailsHeading">
    <span jhiTranslate="isolationmappingApp.isolationDetails.home.title">Isolation Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="isolationmappingApp.isolationDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-isolation-details"
        [routerLink]="['/isolation-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="isolationmappingApp.isolationDetails.home.createLabel"> Create a new Isolation Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="isolationDetails?.length === 0">
    <span jhiTranslate="isolationmappingApp.isolationDetails.home.notFound">No isolationDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="isolationDetails && isolationDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="referredDrName">
            <span jhiTranslate="isolationmappingApp.isolationDetails.referredDrName">Referred Dr Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referredDrMobile">
            <span jhiTranslate="isolationmappingApp.isolationDetails.referredDrMobile">Referred Dr Mobile</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prescriptionUrl">
            <span jhiTranslate="isolationmappingApp.isolationDetails.prescriptionUrl">Prescription Url</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reportUrl">
            <span jhiTranslate="isolationmappingApp.isolationDetails.reportUrl">Report Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <span jhiTranslate="isolationmappingApp.isolationDetails.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="selfRegistered">
            <span jhiTranslate="isolationmappingApp.isolationDetails.selfRegistered">Self Registered</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastAssessment">
            <span jhiTranslate="isolationmappingApp.isolationDetails.lastAssessment">Last Assessment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="isolationmappingApp.isolationDetails.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="isolationmappingApp.isolationDetails.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let isolationDetails of isolationDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/isolation-details', isolationDetails.id, 'view']">{{ isolationDetails.id }}</a>
          </td>
          <td>{{ isolationDetails.referredDrName }}</td>
          <td>{{ isolationDetails.referredDrMobile }}</td>
          <td>{{ isolationDetails.prescriptionUrl }}</td>
          <td>{{ isolationDetails.reportUrl }}</td>
          <td>{{ isolationDetails.remarks }}</td>
          <td>{{ isolationDetails.selfRegistered }}</td>
          <td>{{ isolationDetails.lastAssessment | formatMediumDatetime }}</td>
          <td>{{ isolationDetails.lastModified | formatMediumDatetime }}</td>
          <td>{{ isolationDetails.lastModifiedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/isolation-details', isolationDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/isolation-details', isolationDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(isolationDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isolationDetails && isolationDetails.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
