<div>
  <h2 id="page-heading" data-cy="AssessmentAnswerHeading">
    <span jhiTranslate="isolationmappingApp.assessmentAnswer.home.title">Assessment Answers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="isolationmappingApp.assessmentAnswer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-assessment-answer"
        [routerLink]="['/assessment-answer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="isolationmappingApp.assessmentAnswer.home.createLabel"> Create a new Assessment Answer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assessmentAnswers?.length === 0">
    <span jhiTranslate="isolationmappingApp.assessmentAnswer.home.notFound">No assessmentAnswers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assessmentAnswers && assessmentAnswers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="answer">
            <span jhiTranslate="isolationmappingApp.assessmentAnswer.answer">Answer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="isolationmappingApp.assessmentAnswer.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="isolationmappingApp.assessmentAnswer.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="assessment.assessmentDate">
            <span jhiTranslate="isolationmappingApp.assessmentAnswer.assessment">Assessment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="question.id">
            <span jhiTranslate="isolationmappingApp.assessmentAnswer.question">Question</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assessmentAnswer of assessmentAnswers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/assessment-answer', assessmentAnswer.id, 'view']">{{ assessmentAnswer.id }}</a>
          </td>
          <td>{{ assessmentAnswer.answer }}</td>
          <td>{{ assessmentAnswer.lastModified | formatMediumDatetime }}</td>
          <td>{{ assessmentAnswer.lastModifiedBy }}</td>
          <td>
            <div *ngIf="assessmentAnswer.assessment">
              <a [routerLink]="['/assessment', assessmentAnswer.assessment?.id, 'view']">{{
                assessmentAnswer.assessment?.assessmentDate
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assessmentAnswer.question">
              <a [routerLink]="['/question', assessmentAnswer.question?.id, 'view']">{{ assessmentAnswer.question?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/assessment-answer', assessmentAnswer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/assessment-answer', assessmentAnswer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(assessmentAnswer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assessmentAnswers && assessmentAnswers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
